.wpsp-person-card {
  margin: 50px auto;
  padding: 20px;
  width: 440px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s;
  line-height: normal;
  box-sizing: border-box;
}

.wpsp-person-card:hover,
.wpsp-person-card:focus {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.wpsp-person-detail {
  margin-top: 20px;
  text-align: center;
}

.wpsp-person-pic {
  background-color: blue;
  border-radius: 2%;
  height: 400px;
  width: 400px;
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
